/******************************************************************************/
/* App CSS */

@font-face {
  font-family: EtherScapesFont;
  src:
    local("EtherScape Font"),
    local("EtherScape-Font"),
    url("fonts/regular.ttf");
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;

  color: black;
  background: white;
  font-family: EtherScapesFont;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.App {
  display: flex;
  flex: 1;
  flex-direction: column;

  padding: 0px 5% 0px 5%;
}
